@{
    Layout="~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "No Records Found";
}
<h2>No records found!!</h2>
<a asp-controller="home" asp-action="AddEmployeeDetails" class="btn btn-primary">Add More Employees</a>